.signupWrapper {
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background: #2a2b2b;
  /* background: linear-gradient(135deg, #eef2ff, #f8fafc); */
  padding: 20px;
}

.signupCard {
  width: 100%;
  max-width: 420px;
  /* background: #ffffff; */
  background: rgb(36, 36, 36);
  padding: 36px;
  border-radius: 14px;
  /* box-shadow: 0 25px 50px rgba(0, 0, 0, 0.08); */
  animation: fadeIn 0.5s ease;
}

.signupCard h1 {
  font-size: 26px;
  font-weight: 700;
  margin-bottom: 6px;
  color: #fff;
  text-align: center;
}

.subtitle {
  font-size: 14px;
  color: #707070;
  margin-bottom: 24px;
  text-align: center;
}

.error {
  background: #fee2e2;
  color: #b91c1c;
  padding: 10px;
  border-radius: 8px;
  font-size: 13px;
  margin-bottom: 16px;
}

.inputGroup {
  margin-bottom: 18px;
}

.inputGroup label {
  display: block;
  font-size: 13px;
  font-weight: 600;
  margin-bottom: 6px;
  /* color: #374151; */
  color: #c9baba;
}


.inputGroup input {
  background-color: transparent; 
  color: #111827;
}
.inputGroup input:focus {
  background-color: transparent !important;
}


.inputGroup input:-webkit-autofill,
.inputGroup input:-webkit-autofill:hover,
.inputGroup input:-webkit-autofill:focus,
.inputGroup input:-webkit-autofill:active {
  -webkit-box-shadow: 0 0 0 1000px transparent inset !important;
  -webkit-text-fill-color: #fff !important;
  transition: background-color 5000s ease-in-out 0s;
}




.inputGroup input {
  width: 100%;
  padding: 12px 14px;
  border-radius: 8px;
  border: 1px solid #d1d5db;
  font-size: 14px;
  outline: none;
  transition: all 0.2s ease;
}

.inputGroup input:focus {
  border-color: #6366f1;
  box-shadow: 0 0 0 3px rgba(99, 102, 241, 0.15);
}

.signupCard button {
  width: 100%;
  padding: 13px;
  background: rgb(118, 31, 227);
  /* background: linear-gradient(135deg, #6366f1, #4f46e5); */
  border: none;
  border-radius: 10px;
  font-size: 15px;
  font-weight: 600;
  color: #ffffff;
  cursor: pointer;
  transition: transform 0.2s ease, box-shadow 0.2s ease;
  margin-top: 6px;
}

.signupCard button:hover {
  transform: translateY(-1px);
  box-shadow: 3 12px 25px rgba(79, 70, 229, 0.35);
}

.signupCard button:disabled {
  opacity: 0.7;
  cursor: not-allowed;
}

.footerText {
  margin-top: 22px;
  text-align: center;
  font-size: 13px;
font-weight:500;
  color: #a3a3a3;
}

.footerText span {
  color: rgb(118, 31, 227);;
  font-weight: 600;
  cursor: pointer;
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(10px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}