.trusted-section {
  background: #0b0b0f;
  text-align: center;
  padding: 60px 30px;
  align-items: center;
}

.trusted-tag {
  font-size: 12px;
  letter-spacing: 2px;
  font-weight: 600;
  color: #a855f7;
  margin-bottom: 40px;
}

.trusted-logos {
  /* max-width: 1200px; */
  margin: 0 auto;
  width: max-content;
  display: flex;
  /* flex-direction: row; */
  /* grid-template-columns: repeat(5, 1fr); */
  animation:  scrolling 25s linear infinite;
  gap: 28px;
}
@keyframes scrolling{
    from{
        transform: translateX(0);
    }
    to{
        transform: translateX(-50%);
    }
}

.logo-card {
  background: #1a1a1a;
  height: 92px;
  width: 230px;
  border-radius: 14px;
  display: flex;
  align-items: center;
  justify-content: center;

  font-size: 24px;
  color: #ffffff;
  transition: 0.3s ease;
}

.logo-card:hover {
  background: #a855f7;
  /* transform: translateY(-4px); */
}

.verizon {
  font-weight: 700;
  text-transform: lowercase;
}

.canva {
  font-family: "Pacifico", cursive;
  font-weight: 400;
}

.airasia {
  font-weight: 700;
}

.wealthsimple {
  font-family: Georgia, serif;
  font-weight: 600;
}

.wave {
  font-weight: 700;
}

@media (max-width: 1024px) {
  .trusted-logos {
    grid-template-columns: repeat(3, 1fr);
  }
}

@media (max-width: 640px) {
  .trusted-logos {
    grid-template-columns: repeat(2, 1fr);
  }

  .logo-card {
    font-size: 20px;
    height: 80px;
  }
}
